<div class="col-lg-6 main-cont-wthree-fea text-center">
    <div class="row">
        <div class="col-6 pr-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-users  text-info"></span>
                <h3 class="title-spe">1200+</h3>
                <p>Mutlu Müşteriler</p>
            </div>
        </div>
        <div class="col-6 pl-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-camera text-info"></span>
                <h3 class="title-spe">32</h3>
                <p>Konforlu Odalar</p>
            </div>
        </div>
        <div class="col-6 pr-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-briefcase  text-info"></span>
                <h3 class="title-spe">25</h3>
                <p>Çalışan Sayımız</p>
            </div>
        </div>
        <div class="col-6 pl-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-comments  text-info"></span>
                <h3 class="title-spe">9.8</h3>
                <p>Puanımız</p>
            </div>
        </div>
    </div>
</div>
